<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework6.dao.UserDAO">
    <select id="allUsers" resultType="com.homework6.bean.UserEntity">
        SELECT *
        FROM user
    </select>
    <select id="selectUser" parameterType="map" resultType="com.homework6.bean.UserEntity">
        SELECT *
        FROM user
        WHERE username = #{username}
          AND password = #{password}
    </select>
    <insert id="insertUser" parameterType="com.homework6.bean.UserEntity">
        INSERT INTO user (userid, username, password)
        VALUES (default, #{username}, #{password})
    </insert>
    <delete id="deleteUser" parameterType="int">
        DELETE
        FROM user
        WHERE userid = #{userid}
    </delete>
    <update id="updateUser" parameterType="com.homework6.bean.UserEntity">
        UPDATE user
        SET username = #{username},
            password = #{password}
        WHERE userid = #{userid}
    </update>
</mapper>



